// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

a {
  color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

section h1:first-child {
    margin-top: 10px;
    font-size: 21px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}
